:root {
    --palette-color-size: 30px;

    --sidemenu-z-index: 2;
    --content-z-index: 1;

    --content-palette-z-index: 3;
    --content-canvas-z-index: 2;
    --content-overlay-z-index: 1;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
}

body > * {
    position: relative;
}

.sidemenu {
    width: 50px;
    height: 100%;
    background-color: #fff;
    z-index: var(--sidemenu-z-index);
    border-right: 1px solid #000;
}

.sidemenu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidemenu ul button {
    transform: rotate(-90deg);
    margin: 50% 0;
}

.sidemenu ul li:last-child {
    margin-top: auto;
}

.content {
    --pattern-size: min(4vh, 4vw);
    --pattern-shift: calc(var(--pattern-size) / 2);
    --light-cell-color: #efefef;
    --dark-cell-color: #e0e0e0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--content-z-index);
    background-color: var(--light-cell-color);
    background-size: var(--pattern-size) var(--pattern-size);
    background-position: 0 0, 0 var(--pattern-shift), var(--pattern-shift) calc(-1 * var(--pattern-shift)), calc(-1 * var(--pattern-shift)) 0;
    background-image: 
        linear-gradient(45deg, var(--dark-cell-color) 25%, transparent 25%), 
        linear-gradient(-45deg, var(--dark-cell-color) 25%, transparent 25%), 
        linear-gradient(45deg, transparent 75%, var(--dark-cell-color) 75%), 
        linear-gradient(-45deg, transparent 75%, var(--dark-cell-color) 75%);
}

.canvas-wrapper {
    font-size: 0;
    box-shadow: 0 0 10px 0 #000;
}

.canvas-wrapper, .canvas-wrapper > div {
    position: relative;
}

#canvas {
    outline: 1px solid #000;
    z-index: var(--content-canvas-z-index);
}

#canvas-overlay {
    pointer-events: none;
    position: absolute;
    left: 0;
    z-index: var(--content-overlay-z-index);
}

.palette {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: calc(var(--palette-color-size) / 2);
    left: 0;
    z-index: var(--content-palette-z-index);
}

.palette label {
    cursor: pointer;
}

.palette input {
    display: none
}

.color {
    flex-shrink: 0;
    outline: 1px solid #000;
    outline-offset: 0;
    width: var(--palette-color-size);
    height: var(--palette-color-size);
    transition: 0.2s all ease-in-out;
}

.color:has(input:checked) {
    margin: 0 calc(var(--palette-color-size) / 2);
    width: calc(var(--palette-color-size) * 5);
}

#debug-panel {
    display: none;
    min-width: 350px;
    position: absolute;
    bottom: 0;
    left: 100%;
    background-color: inherit;
    border: 1px solid #000;
    border-bottom: none;
    padding: 10px;
    z-index: calc(var(--content-palette-z-index) + 1);
}

#debug-panel h4 {
    margin: 0 0 10px 0;
}

#debug-panel div {
    display: flex;
    justify-content: space-between;
}

#debug-panel input {
    width: 80px;
    margin-left: 10px
}

#debug-panel button {
    float: right;
    margin: 10px 5px 0 5px;
}